<?xml version="1.0" encoding="UTF-8"?>
<document
  xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
  <properties>
    <title>Changes</title>
  </properties>
  <body>
    <section name="Changes">
      See <a href="${project.parent.url}/releases.html">${project.parent.name}</a>
      for the package changelog.
    </section>
  </body>
</document>
